version: "3.9"
services:

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./backend/uploads:/app/uploads   #  SHARE uploads
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: backend/Dockerfile.worker
    volumes:
      - ./backend/uploads:/app/uploads   # SHARE uploads
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
