version: "3.9"
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: backend/Dockerfile.worker
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
