services:

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./backend/uploads:/app/uploads
      - model_cache:/app/model_cache
    environment:
      - NODE_ENV=production
      - XENOVA_CACHE_DIR=/app/model_cache
      - TRANSFORMERS_CACHE=/app/model_cache
    depends_on:
      - redis
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1

  worker:
    build:
      context: .
      dockerfile: backend/Dockerfile.worker
    volumes:
      - ./backend/uploads:/app/uploads
      - model_cache:/app/model_cache
    environment:
      - NODE_ENV=production
      - XENOVA_CACHE_DIR=/app/model_cache
      - TRANSFORMERS_CACHE=/app/model_cache
    depends_on:
      - redis
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  model_cache: